mark {
  background-color: yellow;
  font-weight: bold;
}

h1 {
  font-family: 'Inter', sans-serif;
}

#footer-text div {
  text-align: center;
  font-size: 1rem;
  line-height: 1.4;
}

@media (max-width: 640px) {
  #footer-text div {
    font-size: 0.875rem;
  }
}

#footer-message {
  white-space: nowrap;
  text-align: center;
  font-size: clamp(0.75rem, 2.5vw, 1rem);
  margin-bottom: 0.5rem;
}