mark {
  background-color: yellow;
  font-weight: bold;
}

h1 {
  font-family: 'Inter', sans-serif;
}

/* Style pour la carte FAQ spéciale (ex: contact) */
.special-faq {
  background-color: #378ffb;
  color: white;
}
